@import "../../index.scss";

.school-results {
  display: grid;
  width: 100vw;

  &__content {
    display: grid;
    width: 100vw;
    padding-bottom: 50px;
    grid-template-columns: 1fr;

    &__banner {
      display: grid;
      padding: 0 20px;
      grid-template-rows: auto 1fr;
      justify-content: center;
      justify-items: center;

      > div {
        margin-top: 20px;
      }

      > img {
        height: 400px;
        display: none;
      }
    }

    &__title {
      font-size: 50px;
      margin: 0;
    }

    &__info {
      height: 100%;
      padding: 0 20px;

      .files {
        padding-right: 20px;
        &__premium{
          &__files {
            display: grid;
            grid-template-columns: 8fr 4fr;
            padding: 20px;

            &__all {
              display: grid;
              justify-content: center;
            }

            .multiple-files {
              width: 300px;
              height: 300px;

              .file {
                margin-top: 50px;
                width: 300px;
                height: 300px;
              }
            }

            &__single {
              display: grid;
              grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
              justify-content: space-between;
              grid-column-gap: 10px;

              .file {
              }
            }
          }

          &__form {
            display: grid;
            grid-template-columns: 1fr 1fr;

            form {
              display: grid;

              .input-field {
                display: grid;
                margin: 10px;

                &.error {
                  input {
                    border: 1px solid red;
                  }
                }

                .error {
                  font-size: 12px;
                  color: red;
                }
              }

              input {
                width: 350px;
                padding: 10px 20px;
                margin-bottom: 5px;
                border-radius: 3px;
                border: 1px solid #ccc;
                outline: none;
              }

              button {
                width: 100px;
                margin: 10px;
                outline: none;
                background: $accent;
                color: white;
                cursor: pointer;
                border: none;
                box-shadow: 1px 1px 20px 4px rgba(0,0,0,.1);
                height: 40px;
                transition: 0.3s all;

                &:disabled{
                  pointer-events: none;
                  background: #666666;
                  opacity: 0.4;
                }
              }

              .total {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-column-gap: 20px;
                align-items: center;

                h1 {
                  color: $accent;
                }
              }
            }
          }
        }
      }
    }
  }
}

.file-description {
  max-width: 800px;
  color: #999;

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-top: 20px;
    }
  }
}

.school-results__content {

  @include mobile{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 0 20px;

    &__banner {
      grid-row-start: 2;

      img {
        display: none;
      }
    }

    &__info {
      grid-row-start: 1;

      .files {

        &__premium {
          &__files {
            grid-auto-columns: minmax(50px ,100px);
            .file {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }

    &__title {
      font-size: 20px !important;
    }
  }
}
