@import "../../index.scss";

.root__school {
  grid-template-rows: auto auto;
}

.school-results {
  display: grid;

  &__content {
    margin-top: 3em;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__banner {
      position: relative;

      img {
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 25%;
        height: 500px;
      }
    }

    &__title {
      font-size: 50px;
      margin: 0;
    }

    &__info {

      .files {
        &__premium{
          &__files {
            display: grid;
            grid-template-columns: auto auto auto;
          }

          &__form {

            form {
              display: grid;

              .input-field {
                display: grid;
                margin: 10px;

                &.error {
                  input {
                    border: 1px solid red;
                  }
                }

                .error {
                  font-size: 12px;
                  color: red;
                }
              }

              input {
                width: 350px;
                padding: 10px 20px;
                margin-bottom: 5px;
                border-radius: 3px;
                border: 1px solid #ccc;
                outline: none;
              }

              button {
                width: 100px;
                margin: 10px;
                outline: none;
                background: $accent;
                color: white;
                cursor: pointer;
                border: none;
                box-shadow: 1px 1px 20px 4px rgba(0,0,0,.1);
                height: 40px;
                transition: 0.3s all;

                &:disabled{
                  pointer-events: none;
                  background: #666666;
                  opacity: 0.4;
                }
              }
            }
          }
        }
      }
    }
  }
}
