.page-loader {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 300;
  pointer-events: none;
  left: 0;
  bottom: 0;
  transition: 0.5s all;
  opacity: 0;
  width: 100vw;

  &.loading {
    background: rgba(0,0,0,.5);
    opacity: 1;
    pointer-events: all;
    z-index: 301;
  }

  > div {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 301;
    transform: translate(-50%, -50%);
  }
}
