@import "../../index";

.not-found {
  display: grid;
  align-items: center;
  padding: 1em;
  justify-items: center;

  > img {
    height: 400px;
    margin: 20px 0;

    @include  tablet_and_mobile {
      width: auto;
      margin: 0;
    }

    @include  tablet {
      height: 200px;
    }

    @include mobile {
      height: 100px;
    }
  }
  &__content {
    display: grid;
    align-items: center;
    justify-items: center;

    @include mobile {
      h1 {
        font-size: 20px;
        text-align: center;
      }
    }

    a {
      text-decoration: none;
      color: white;
      display: grid;
      width: 100px;
      align-items: center;
      text-align: center;
      background: $accent;
      height: 40px;
      box-shadow: 1px 1px 20px 4px rgba(0,0,0,.2);
    }
  }
}
