@import '../../index.scss';

.modal {
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  top: 0;
  opacity: 0;
  grid-template-columns: minmax(200px, 500px);
  pointer-events: none;
  transition: 0.5s all;

  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    z-index: 501;
    padding: 1em;
    border-radius: 10px;
    background: white;

    @include mobile {
      font-size: 14px;
      border-radius: 0;
      margin: 0 10px;
    }

    &__title {
      padding-bottom: 1em;
      border-bottom: 1px solid #ccc;

      h2 {
        margin: 0;

        @include mobile {
          font-size: 16px;
        }
      }
    }

    &__footer {
      margin-top: 20px;
      display: grid;
      justify-content: right;
      margin-right: 20px;

      button {
        outline: none;
        border: none;
        padding: 0.7em 3em;
        cursor: pointer;
        background: white;
        transition: 0.5s all;

        &:hover {
          background: rgba(0,0,0,.1);
        }
      }
    }
  }
}
