@import "../../index.scss";

.make-payment {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;

  @include  tablet_and_mobile {
    grid-template-columns: 1fr;
  }

  &__payment {
    margin-top: 30px;
    padding: 20px 20px;
    @include tablet_and_mobile {
      display: grid;
      justify-content: center;
      border: 1px solid #ccc;
    }

  }

  &__banner {
    display: grid;
    align-items: center;
    justify-self: center;

    @include  tablet_and_mobile{
      display: none;
    }

    img {
      width: 400px;
    }
  }

  &__info {
    padding: 20px 0;

    @include tablet_and_mobile {
      padding: 0 10px 20px;
    }
    .payment__error {
      padding: 0.5em 1em;
      border-radius: 5px;
      background: rgba(255, 0, 0, 0.2);
      color: #a80000;
      border: 1px solid #930906;
    }
    &__files {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
      grid-column-gap: 20px;

      .base__file {
        > h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
      .file-description {
        display: none;
      }
      @include  tablet {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: stretch;
      }

      .file {
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;

        @include mobile {
          height: auto;
          width: auto;
          background: white;
          color: black;
          justify-content: start;
          border: none;

          .file__icon {
            display: none;
          }
        }
      }
    }
  &__form {

    form {
      display: grid;

      .input-field {
        display: grid;

        &.error {
          input {
            border: 1px solid red;
          }
        }

        .error {
          font-size: 12px;
          color: red;
        }
      }

      input {
        width: 350px;
        padding: 10px 20px;
        margin-bottom: 20px;
        border-radius: 3px;
        border: 1px solid #ccc;
        outline: none;

        @include  tablet_and_mobile {
          width: auto;
        }
      }

      button {
        width: 150px;
        outline: none;
        background: $accent;
        color: white;
        cursor: pointer;
        border: none;
        box-shadow: 1px 1px 20px 4px rgba(0,0,0,.1);
        height: 40px;
        transition: 0.3s all;

        @include tablet_and_mobile {
          justify-self: center;
        }
        &:disabled{
          pointer-events: none;
          background: #666666;
          opacity: 0.4;
        }
      }
    }
  }
}
}
