.app-home {
  display: grid;
  justify-items: center;

  &__banner {
    padding: 40px;
    height: 200px;
  }
  &__title {
    padding-top: 3em;
    font-size: 40px;
  }

  &__search-form {
    margin-top: 50px;

    .search-form {
      position: sticky;
      top: 10px;
      z-index: 200;
    }
  }
}
